<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
    </style>
</head>

<body>
    <%- include('nav.ejs') %>
    <div class="container">
        <div class="jumbotron">
            <div class="container text-center">
                <h1> About us </h1>
            </div>
        </div>
        <div style="text-align:center;">
            <h4>
                This site enables you to share your knowledge and post new contents that others can see. <br>
                You can directly create post by clicking on create post. <br>
                You can see other's posts and can communicate with them using email that they provide with blog.
            </h4>
        </div>
    </div>
</body>

</html>