<nav class="navbar navbar-inverse bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"
                style="color: rgb(216, 116, 58);font-size: x-large; font-family: 'Sigmar One', cursive;">BlogPost</a>
        </div>
        <div class="navbar-right" style="margin-right: 10px; font-size:large;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">about</a></li>
            </ul>
            <form action="/createPost" style="display: inline;">
                <button class="btn btn-danger navbar-btn">Create Post</button>
            </form>
        </div>
    </div>
</nav>